.logo-container {
    width :50%;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
}
  
  /* Optional: If you want to center the image vertically as well */
  .logo-container img {
    display: block;
    margin: 0 auto;
  }