.navbar {
    display: flex;
    justify-content: flex-end;
}


.home-btn {
    width:8%;
    color:#ffa400;
    font-size: large;
    margin: 2px;
    
}

.podcastify-content {
    margin-top: 8%;
    text-align: center;
}

.topics-container {
    width: 100%;
    height: 20%;
}