.admin-home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-element {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.element {
    margin-right: 20px; 
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-container {
    width: 100%;
    height: 7%;
    background-color: #ffa400;
    position: fixed;
    top: 0;
}

.logo-container {
    width: 30%;
    height: 30%;
    background-image: url(../../../assets/ai-podcast-logo.png);
    background-repeat: no-repeat;
}

.navbar a:hover {
    color: #0076FF;
}