.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.right-side {
    width: 50vw;
    background-image: url(../../../assets/admin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.left-side {
    width: 50vw;
    background-color: #ffa400;
    display: flex;
    justify-content: center;
    align-items: center; 
}   

.login-btn {
    color: #ffa400;
    margin-top: 3%;
}

.form-data{
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
    color: white;
}

.center {
    transform: translateX(150px);
}
